body {
    background-color: #b9b5b5;
    font-family:'Montserrat', sans-serif;
  }

  .red .active a,
  .red .active a:hover {
      background-color: red;
  }

  /* !! Not sure what this is but i had to comment it out because it doesn't work and won't open my html properly */
  /*$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136*/


  .navbar-default {
    background-color: grey;
  }



  section{
    color: blue;
    border:2px solid rgb(14, 14, 75);
    text-align: center;
    background-color: rgb(221, 216, 216);
    font-family: 'Montserrat', sans-serif;
    padding: 70px;
    font-size: 25px;
  }

  img{ /* Not actually sure this does anything, but the .centre thing does */
    display:block;
    margin-left: auto;
    margin-right: auto; 
    width: auto;
    height: auto;
  }

  .centred {
    display: block;
    margin-right: auto; /*This should make images centred as long as you ass class = "centred"*/
    margin-left: auto;
    width: 50%;
  }


  
  h1 {
    color: black;
    border:2px solid rgb(14, 14, 75);
    text-align: center;
    background-color: grey;
    font-family: 'Montserrat', sans-serif;
    padding: 70px;
  }
  
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
  }
  
  h2 {
     text-decoration: underline;
     color: black;
     font-family: 'Montserrat', sans-serif;
     font-size: 20px;
     }

  
  

