body {
    background-color: #b9b5b5;
    font-family:'Montserrat', sans-serif;
  }

  .navbar-custom {
    color: grey;


  }
  .navbar-custom .navbar-nav > .active{
    background-color: magenta;
  }

  section{
    color: blue;
    border:2px solid rgb(14, 14, 75);
    text-align: center;
    background-color: grey;
    font-family: 'Montserrat', sans-serif;
    padding: 70px;
  }

  img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }

  
  
  h1 {
    color: black;
    border:2px solid rgb(14, 14, 75);
    text-align: center;
    background-color: grey;
    font-family: 'Montserrat', sans-serif;
    padding: 70px;
  }
  
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
  }
  
  h2 {
     text-decoration: underline;
     color: black;
     font-family: 'Montserrat', sans-serif;
     font-size: 20px;
     }

  
  

